# Manipuler des tableaux

Dans cette feuille, vous allez apprendre à effectuer quelques
manipulations simples sur les tableaux, comme nous l'avions fait au
premier semestre avec les `vector` de C++. En Python, de tels tableaux
peuvent être représentés par les `array` de la bibliothèque `NumPy`
(usuellement abrégée en `np`):

In [1]:
import numpy as np

## Tableaux à deux dimensions

Voilà un tableau à deux dimensions avec deux lignes et quatre
colonnes:

In [2]:
T = np.array([[1, 2, 3, 4], 
              [5, 6, 7, 8]])

In [3]:
T

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

On peut retrouver les tailles de ce tableau avec:

In [4]:
T.shape

(2, 4)

Vous vous rappellez que les `vector` de C++ sont intrinsèquement des
tableaux à une dimension, et que l'on émule des tableaux à deux
dimensions avec des tableaux de tableaux. Ici, en revanche, les
tableaux `array` de numpy permettent de construire explicitement des
tableaux à deux dimensions.

### Exercice

1. Construire un tableau à trois lignes et trois colonnes, contenant
   les entiers de 1 à 9 de gauche à droite et de haut en bas comme
   dans la figure suivante:

       1 2 3
       4 5 6
       7 8 9

In [5]:
# YOUR CODE HERE
T2 = np.array([[1,2,3],[4,5,6],[7,8,9]])
T2

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

Nous testons la forme du tableau:

In [6]:
assert T2.shape == (3,3)

ainsi que son contenu :

In [7]:
assert [ T2[i,j] for i in range(3) for j in range(3) ] == [1, 2, 3, 4, 5, 6, 7, 8, 9]

Voici comment accéder au contenu d'une case individuelle du tableau :

In [8]:
T2[1,2]

6

Cette case est en deuxième ligne et troisième colonne: en effet, comme
en C++, les lignes et colonnes sont numérotées à partir de 0.

Si l'on veut extraire toute une ligne, ou toute une colonne, on
remplace la coordonnée que l'on ne veut pas spécifier par `:`.

Voici donc la deuxième colonne :

In [9]:
T2[:,1]

array([2, 5, 8])

Extraire la deuxième ligne du tableau, et affectez-la à la variable
`l` dont vous afficherez le contenu :

In [10]:
l = T2[1,:]
l

array([4, 5, 6])

In [11]:
assert isinstance(l, np.ndarray)
assert l.shape == (3,)
assert list(l) == [4,5,6]

## Tableaux à trois dimensions et plus

Pour le moment, nous avons utilisé des tableaux à deux dimensions.
Ultérieurement, notamment pour représenter des images, nous aurons
besoin de tableaux de plus grande dimension: un seul nombre ne suffit
en effet pas pour représenter un pixel.

`Numpy` permet de représenter des tableaux de toute dimension. Voici
un tableau de dimension 3 :

In [12]:
T3D = np.array([[[ 1, 2, 3], [ 4, 5, 6], [ 7, 8, 9]],
                [[10,11,12], [13,14,15], [16,17,18]],
                [[19,20,21], [22,23,24], [25,26,27]]
                ])

On peut le voir comme un tableau à trois couches :

In [13]:
T3D[:,:,0]

array([[ 1,  4,  7],
       [10, 13, 16],
       [19, 22, 25]])

In [14]:
T3D[:,:,1]

array([[ 2,  5,  8],
       [11, 14, 17],
       [20, 23, 26]])

In [15]:
T3D[:,:,2]

array([[ 3,  6,  9],
       [12, 15, 18],
       [21, 24, 27]])

### Exercices

Extraire la première colonne de la deuxième couche de `T3D` et
stockez-la dans la variable `C`:

In [16]:
C = T3D[:,0,1]
C

array([ 2, 11, 20])

Notez que c'est un tableau à une dimension, donc noté en ligne !

In [17]:
assert list(C) == [2, 11, 20]

Extraire un tableau contenant la première colonne de chacune des trois
couches de `T3D` et stockez le dans la variable `C`. Notez que l'on
souhaite que ces colonnes soient bien représentées par des colonnes
dans `C` !

In [18]:
C = np.array(T3D[:,0,:])
C

array([[ 1,  2,  3],
       [10, 11, 12],
       [19, 20, 21]])

In [19]:
for i in range(3):
    assert np.array_equal(T3D[:,0,i], C[:,i])

## Statistiques simples sur les tableaux

Numpy permet de faire des statistiques simples sur les
tableaux. Revenons à notre tableau `T` :

In [20]:
T

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

Calculez à la main :
- la moyenne de chaque colonne de `T`;
- la moyenne de chaque ligne de `T`;
- la moyenne de tous les éléments du tableau `T`.

In [21]:
def moyennecol(i : int,Tab):
    return sum(Tab[:,i])/len(Tab[:,i])
def moyennelig(i: int,Tab):
    return sum(Tab[i,:])/len(Tab[i,:])
def moy(Tab):
    return sum(sum(Tab))/(len(Tab)*len(Tab[0,:]))
moyscol = [moyennecol(i,T) for i in range(0,len(T[0,:]))]
moyslig = [moyennelig(i,T) for i in range(0,len(T))]
moyenne = moy(T)
moyscol,moyslig,moyenne

([3.0, 4.0, 5.0, 6.0], [2.5, 6.5], 4.5)

Comparez vos résultats avec ceux des calculs suivants :

In [22]:
T.mean(axis=0)

array([3., 4., 5., 6.])

In [23]:
T.mean(axis=1)

array([2.5, 6.5])

In [24]:
T.mean()

4.5

## Conclusion

Voilà vous avez vu tous les éléments de manipulation des tableaux
`NumPy` dont nous aurons besoin aujourd'hui.